@charset "UTF-8";

.c-blockItems {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}

.c-blockItems::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: #f77511;
  content: "";
}

.c-blockItems__title {
  color: #777777;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 2px;
  letter-spacing: 0.2rem;
}

.c-blockItems__text {
  margin-top: 30px;
  color: #848484;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.8;
}