@charset "UTF-8";
@media screen and (max-width: 768px) {

  .l-top__title {
    font-size: 40px;
    font-size: 4rem;
  }

/* ===================================
  header--sp
=================================== */
  .l-header__menu {
      display: none !important;
    }

  .l-header__hamburger {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }



  /* ===================================
  section01
  =================================== */
  .p-section01 {
    padding: 80px 15px;
  }

  .p-section01__imageList {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }  

  .p-section01__imageList > li:nth-child(n + 2) {
    margin-top: 20px;
  }

  .p-section01__list {
    width: 100% !important;
  }

  .p-section01__image {
    height: 200px;
  }

  /* ===================================
  section02
=================================== */
.p-section02 {
  padding: 80px 15px;
}

.p-section02__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.p-section02__list:nth-child(n + 2) {
  margin-top: 50px;
}

.p-section02__list:nth-child(2) {
  flex-direction: column;
  text-align: center;
}

.p-section02__img {
  width: 100%;
  margin: 0 ;
}

.p-section02__img:nth-child(2) {
  margin: 0 0 0 20px;
}


.p-section02__items {
  padding-top: 20px;
}

.p-section02__link {
  width: 100%;
  margin-top: 50px;
  padding: 15px 20px;
  text-align: center;
}


/* ===================================
  section03
=================================== */
  .p-section03 {
    padding: 80px 15px;
  }

  .p-section03__list {
    width: 100%;
    padding: 0;
  }

  .p-section03__list:nth-child(n + 2) {
    margin-top: 40px;
  }

  .p-section03__img {
    width: 100px;
  }
}